body{
    background: url("/img/fondo/fondo_welcome1.jpg") ;
    font-family: 'Nunito', sans-serif;
}
/* .icono{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    position: absolute; 
} */
/* .img-icon{
    border-radius: 10%;
} */
/* .head{
    position: relative;
} */
.catalogo-muestra{
    padding: 2%;
    background-color: #00000029;
    width: 100%;
    margin-top: 1%;
    height: auto;
}

.catalogo-muestra-2{
    padding: 1%;
    background-color: #00000029;
    width: 90%;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    height: auto;
    margin: auto;
}

.bg-white{
    --bs-bg-opacity: 1;
  /* background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important; */
  background-color: #00000029 !important;
}

.navbar-brand{
    color: white !important;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: wheat !important;
}

.carousel {
    margin: auto;
}

.card {
    margin: auto;
    background: url("/img/fondo/fondo_welcome.jpg");
    color: white;
}